# General
cernvm3-micro-2.8-6.iso
*.key
lib
*.pdf
*.zip

# 2016 pPb dijets
pPb_8TeV_2016_dijetAnalysis/AnalysisCode/lib
pPb_8TeV_2016_dijetAnalysis/data
pPb_8TeV_2016_dijetAnalysis/rootFiles
pPb_8TeV_2016_dijetAnalysis/HepData*
pPb_8TeV_2016_dijetAnalysis/Slides
pPb_8TeV_2016_dijetAnalysis/Derivation/*.root
pPb_8TeV_2016_dijetAnalysis/Plots

# 2016 pPb data overlay
pPb_8TeV_2016_dijetAnalysis/Validation/*.pdf

# 2017 pp run
pp_5TeV_2017_offlineElectronAnalysis/Data/

# 2016 8TeV pPb jet calibration
pPb_8TeV_2016_jet_calibration/AnalysisCode/lib
pPb_8TeV_2016_jet_calibration/data
pPb_8TeV_2016_jet_calibration/rootFiles
pPb_8TeV_2016_jet_calibration/old_calib
pPb_8TeV_2016_jet_calibration/pPb_dR2
pPb_8TeV_2016_jet_calibration/pPb_dR4
pPb_8TeV_2016_jet_calibration/Pbp_dR2
pPb_8TeV_2016_jet_calibration/Pbp_dR4
pPb_8TeV_2016_jet_calibration/pPb_R4_dR2
pPb_8TeV_2016_jet_calibration/pPb_R4_dR4
pPb_8TeV_2016_jet_calibration/Pbp_R4_dR2
pPb_8TeV_2016_jet_calibration/Pbp_R4_dR4
pPb_8TeV_2016_jet_calibration/testCalibrationTrees/*
pPb_8TeV_2016_jet_calibration/Plots
pPb_8TeV_2016_jet_calibration/Slides
pPb_8TeV_2016_jet_calibration/AnalysisCode/lib
pPb_8TeV_2016_jet_calibration/runFiles/lib

# Pythia W boson decay analysis
pythiaPhotonJet/lib
pythiaPhotonJet/output/*.root
pythiaPhotonJet/output/*.log
pythiaPhotonJet/*.pdf
pythiaPhotonJet/plot/*
pythiaPhotonjet/*.root

# Copyright (C) 2002-2018 CERN for the benefit of the ATLAS collaboration

# PDF files in top-level directory
pPb_8TeV_2016_jet_calibration/atlaslatex-05-06-00/*.pdf
# PDF files produced by epstopdf
pPb_8TeV_2016_jet_calibration/atlaslatex-05-06-00/*-eps-converted-to.pdf

# Generic files to ignore
pPb_8TeV_2016_jet_calibration/atlaslatex-05-06-00/*.aux
pPb_8TeV_2016_jet_calibration/atlaslatex-05-06-00/*.bcf
pPb_8TeV_2016_jet_calibration/atlaslatex-05-06-00/*.bbl
pPb_8TeV_2016_jet_calibration/atlaslatex-05-06-00/*-blx.bib
pPb_8TeV_2016_jet_calibration/atlaslatex-05-06-00/*.blg
pPb_8TeV_2016_jet_calibration/atlaslatex-05-06-00/.*.lb
pPb_8TeV_2016_jet_calibration/atlaslatex-05-06-00/*.fdb_latexmk
pPb_8TeV_2016_jet_calibration/atlaslatex-05-06-00/*.fls
pPb_8TeV_2016_jet_calibration/atlaslatex-05-06-00/*.lof
pPb_8TeV_2016_jet_calibration/atlaslatex-05-06-00/*.log
pPb_8TeV_2016_jet_calibration/atlaslatex-05-06-00/*.lot
pPb_8TeV_2016_jet_calibration/atlaslatex-05-06-00/*.out
pPb_8TeV_2016_jet_calibration/atlaslatex-05-06-00/*.run.xml
pPb_8TeV_2016_jet_calibration/atlaslatex-05-06-00/*.spl
pPb_8TeV_2016_jet_calibration/atlaslatex-05-06-00/*.synctex.gz
pPb_8TeV_2016_jet_calibration/atlaslatex-05-06-00/*.toc

