# General
cernvm3-micro-2.8-6.iso
*.key
lib
*.pdf
*.zip
*.swp

# ROOT compilation tags
*_h.d
*_C.d
*_h.so
*_C.so
*_h_ACLiC_dict_rdict.pcm
*_C_ACLiC_dict_rdict.pcm


# 2016 pPb dijets
DijetAnalysis/AnalysisCode/lib
DijetAnalysis/data
DijetAnalysis/rootFiles
DijetAnalysis/HepData*
DijetAnalysis/Slides
DijetAnalysis/Derivation/*.root
DijetAnalysis/Plots

# 2016 pPb data overlay
DijetAnalysis/Validation/*.pdf

# 2017 pp run
pp_5TeV_2017_offlineElectronAnalysis/Data/

# 2016 8TeV pPb jet calibration
JetCalibration/AnalysisCode/lib
JetCalibration/data
JetCalibration/rootFiles
JetCalibration/old_calib
JetCalibration/pPb_R4_dR2
JetCalibration/Pbp_R4_dR2
JetCalibration/pPb_R3_dR2
JetCalibration/Pbp_R3_dR2
JetCalibration/pPb_R2_dR2
JetCalibration/Pbp_R2_dR2
JetCalibration/testCalibrationTrees/*
JetCalibration/Plots
JetCalibration/Slides
JetCalibration/AnalysisCode/lib
JetCalibration/AnalysisCode/obj
JetCalibration/runFiles/bin
JetCalibration/runFiles/obj

# 2016 8TeV pPb jet track analysis
JetTrackAnalysis/AnalysisCode/lib
JetTrackAnalysis/AnalysisCode/obj
JetTrackAnalysis/Plots
JetTrackAnalysis/Slides
JetTrackAnalysis/rootFiles
JetTrackAnalysis/runFiles/bin
JetTrackAnalysis/runFiles/obj

# 2018 5.02 TeV Pb+Pb offline analysis
OfflineAnalysis/AnalysisCode/lib
OfflineAnalysis/AnalysisCode/obj
OfflineAnalysis/Plots
OfflineAnalysis/Slides
OfflineAnalysis/rootFiles
OfflineAnalysis/runFiles/bin
OfflineAnalysis/runFiles/obj

# Pythia W boson decay analysis
pythiaPhotonJet/lib
pythiaPhotonJet/output/*.root
pythiaPhotonJet/output/*.log
pythiaPhotonJet/*.pdf
pythiaPhotonJet/plot/*
pythiaPhotonjet/*.root

# Copyright (C) 2002-2018 CERN for the benefit of the ATLAS collaboration

# PDF files in top-level directory
JetCalibration/atlaslatex-05-06-00/*.pdf
# PDF files produced by epstopdf
JetCalibration/atlaslatex-05-06-00/*-eps-converted-to.pdf

# Generic files to ignore
JetCalibration/atlaslatex-05-06-00/*.aux
JetCalibration/atlaslatex-05-06-00/*.bcf
JetCalibration/atlaslatex-05-06-00/*.bbl
JetCalibration/atlaslatex-05-06-00/*-blx.bib
JetCalibration/atlaslatex-05-06-00/*.blg
JetCalibration/atlaslatex-05-06-00/.*.lb
JetCalibration/atlaslatex-05-06-00/*.fdb_latexmk
JetCalibration/atlaslatex-05-06-00/*.fls
JetCalibration/atlaslatex-05-06-00/*.lof
JetCalibration/atlaslatex-05-06-00/*.log
JetCalibration/atlaslatex-05-06-00/*.lot
JetCalibration/atlaslatex-05-06-00/*.out
JetCalibration/atlaslatex-05-06-00/*.run.xml
JetCalibration/atlaslatex-05-06-00/*.spl
JetCalibration/atlaslatex-05-06-00/*.synctex.gz
JetCalibration/atlaslatex-05-06-00/*.toc

