# General
*.DS_Store
*.swp
cernvm3-micro-2.8-6.iso

# 2016 pPb dijets
pPb_8TeV_2016_dijetAnalysis/data/*
pPb_8TeV_2016_dijetAnalysis/rootFiles/*
pPb_8TeV_2016_dijetAnalysis/HepData*

# 2017 pp run
pp_5TeV_2017_offlineElectronAnalysis/Data/

# 2016 8TeV pPb jet calibration
pPb_8TeV_2016_jet_calibration/data/*
pPb_8TeV_2016_jet_calibration/rootFiles/*
pPb_8TeV_2016_jet_calibration/pPb_dR2
pPb_8TeV_2016_jet_calibration/pPb_dR4
pPb_8TeV_2016_jet_calibration/Pbp_dR2
pPb_8TeV_2016_jet_calibration/Pbp_dR4
pPb_8TeV_2016_jet_calibration/testCalibrationTrees/*
