#
#  Settings for Release 20.7 absolute EtaJES correction + relative and absolute insitu corrections + HI cross-calibration for 2016 p+Pb
#
#  Config file author: Jonathan Bossio, Nov 2016
#
#####################

# --------------------------
# 1. Absolute JES

  # The file with the absolute JES factors
AbsoluteJES.CalibFile:         JetCalibTools/share/JetCalibTools/CalibrationFactors/HI_JES_Oct2018_pPb.config
AbsoluteJES.Description:       HI jet calibrations for proton going to the left (period A) R = 0.4 7/28/2018, R = 0.3, 0.2 10/24/2018

EtaJESStartingScale: JetEMScaleMomentum

######################

# --------------------------
# 2. Insitu corrections

InsituStartingScale: JetEtaJESScaleMomentum

  # Relative JES correction applied to data only to correct for features not captured by MC
InsituCalibrationFile:         JetCalibTools/InsituCalibration/InsituCalibration/InsituCalibration_xcalib_2016data_19Dec2016.root
InsituCalibrationDescription:  20.7 Eta-Intercalibration+Absolute and cross-calibration for 2016 p+Pb
  # eta-intercalibration from dijet events
RelativeInsituCalibrationHistogram:      JETALGO_EtaInterCalibration
  # absolute scale from Z+jet, gamma+jet and multijet balance
AbsoluteInsituCalibrationHistogram:      JETALGO_InsituCalib



####################

