#
#  Settings for Release 20.7 relative and absolute insitu corrections + HI cross-calibration for 2016 p+Pb
#
#  Config file author: Jonathan Bossio, Nov 2016
#
#####################

# --------------------------
# 1. Absolute JES

  # The file with the absolute JES factors
AbsoluteJES.CalibFile:	       JetCalibTools/CalibrationFactors/HI_JES_Nov2016.config
AbsoluteJES.Description:       HI jet calibrations R = 0.4 4/23/16, R = 0.2, R = 0.3

EtaJESStartingScale: JetEMScaleMomentum

######################

# --------------------------
# 2. Insitu corrections

InsituStartingScale: JetEtaJESScaleMomentum

  # Relative JES correction applied to data only to correct for features not captured by MC
InsituCalibrationFile:           JetCalibTools/InsituCalibration/InsituCalibration/InsituCalibration_xcalib_2016data_19Dec2016.root
InsituCalibrationDescription:    20.7 Eta-Intercalibration+Absolute and cross-calibration for 2016 p+Pb
  # eta-intercalibration from dijet events
RelativeInsituCalibrationHistogram:      JETALGO_EtaInterCalibration
  # absolute scale from Z+jet, gamma+jet and multijet balance
AbsoluteInsituCalibrationHistogram:      JETALGO_InsituCalib



####################

